---
layout: generic
title_localized:
  en: Press | The Sagamore Hotel South Beach
meta_description_localized:
  en: Situated within the historic Miami Beach Art Deco District, Sagamore South Beach offers 93 rooms, two-story bungalows and spacious oceanfront penthouses.
permalink_localized:
  en: /press/
meta_tags:
  robots:
---

{% if site.data._models.press %}
  {% assign pressItem = site.data._models.press | sort:"order" %}
  <section class="press-list">
    <div class="press-list__items">
      {% for press in pressItem %}
        <div class="press d-flex flex-column">
          <div class="press__text-group h-100">
            <div class="justify-content-between d-flex flex-column h-100 wrap">
              <p class="overline mb-2" tabindex="0">{{ press.publication }}</p>
              <p class="press__name h4" tabindex="0">{{ press.title }}</p>
              <div class="press__btn mt-auto">
                <a class="btn btn--secondary" href="{{ press.url_read_more }}/" target="_blank">Read More</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% else %}
  {% regionblock no_list_items, type:html %}
  <span class="text-center">{% t 'offers.none' %}</span>
  {% endregionblock %}
{% endif %}
