---
layout: home
title_localized:
  en: Miami Beach Hotels | The Sagamore Hotel South Beach
meta_description: Situated within the historic Miami Beach Art Deco District, Sagamore South Beach offers 93 rooms, two-story bungalows and spacious oceanfront penthouses.
permalink:
meta_tags:
  robots:
---
{% assign slider = site.data._models.homepage_slider | sort: "sort_order" %}
<div class="home-banner">
  <div class="banner-carousel">
    {% for slide in slider %}
      <div>
        {% if slide.image.content_type == "video/mp4"%}
          <video poster="{{ slide.image.url | replace: 'mp4','jpg'}}" autoplay muted>
            <source src="{{ slide.image.url }}" type="video/mp4">
          </video>
        {% else %}
          <div class="home-banner__content">
            <img src="{{ slide.image.url_large }}" alt="{{ slide.image.alt }}">
            <div class="home-banner__caption ">
              <p class="slider-title slider-title--light" tabindex="0">
                <span>{{ slide.title }}</span>
              </p>
              <a href="{{ slide.button_link }}/" class="btn btn--secondary mt-2">{{ slide.button_text }}</a>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="slider-control">
    <div class="slider-control__arrows">
      <a aria-label="Press enter for previous slide" class="prev-slide" href="javascript:void(0);" id="bannerSliderPrev" title="Previous Slide">
        <span class="prev">
          <i class="fas fa-chevron-left"></i>
        </span>
      </a>
      <a aria-label="Press enter for next slide" class="next-slide" href="javascript:void(0);" id="bannerSliderNext" title="Next Slide">
        <span class="next">
          <i class="fas fa-chevron-right"></i>
        </span>
      </a>
    </div>
    <div class="nav-slide" id="bannerSlider" tabindex="-1">
      {% for slide in slider %}
        <span></span>
      {% endfor %}
    </div>
  </div>
</div>
