<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"FAQPage",
  "mainEntity": [
    {
      "@type":"Question",
      "name":"Is the Hotel @ Times Square accessible and ADA compliant?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"The Hotel at Times Square is accessible per the Americans with Disabilities Act of 1990. Please see our <a href='/accessibility/' rel='noopener noreferrer ' target='_blank'>accessibility statement</a>  for details about our property and room features."
      }
    },
    {
      "@type":"Question",
      "name":"What time are check-in and check-out?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"Check-in is at 3 p.m. EST. Check-out is at 12 noon. Late check-outs do incur extra cost, so please talk to our front desk staff at the beginning or during your stay."
      }
    },
    {
      "@type":"Question",
      "name":"Can I store luggage in case of an early arrival or late departure?",
      "acceptedAnswer": {
        "@type":"Answer","text":"You can store your luggage before or after your stay. For safety and security reasons, we cannot store luggage overnight."
      }
    },
    {
      "@type":"Question",
      "name":"Do the rooms offer safes?",
      "acceptedAnswer": {
        "@type":"Answer","text":"Yes, each room comes with a safe for storing valuables."
      }
    },
    {
      "@type":"Question",
      "name":"Do you offer group reservations?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"Yes, we are an excellent choice for groups thanks to our special pricing, convenient location, on-site business center, and daily continental breakfast. Please visit our Groups page to fill out a request for proposal."
      }
    },
    {
      "@type":"Question",
      "name":"Do you need a credit card to make a reservation?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"Yes, all reservations must be guaranteed with a major credit card."
      }
    },
    {
      "@type":"Question",
      "name":"Does the Hotel @ Times Square charge an amenities fee?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"Yes, there is a mandatory daily facilities surcharge of $38, inclusive of taxes, which covers daily continental breakfast, wi-fi for up to six devices, use of the on-site exercise and business facilities, and more."
      }
    },
    {
      "@type":"Question",
      "name":"What airports are nearest to the hotel?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"The closest airport is La Guardia, but this is mainly a domestic airport and has the least convenient mass-transit options. JFK, while farther away, offers mass-transit and a full array of transport services. The airport in Newark, New Jersey, is closest to Lower Manhattan, but expect to pay more for transportation into New York."
      }
    },
    {
      "@type":"Question",
      "name":"Is smoking allowed?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"We have a few rooms in which smoking is allowed. Learn more about our rooms here."
      }
    },
    {
      "@type":"Question",
      "name":"Is Hotel @ Times Square pet friendly?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"No, we do not allow pets."
      }
    },
    {
      "@type":"Question",
      "name":"Are laundry services available?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"There is no self-serve laundry facility on site, but we do have a laundry service available. Please inquire with the front desk during your stay."
      }
    },
    {
      "@type":"Question",
      "name":"Does the hotel offer baby cribs?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"Yes, cribs are available with advance request. We do not provide cots or roll-away beds."
      }
    },
    {
      "@type":"Question",
      "name":"Does the hotel offer parking?",
      "acceptedAnswer": {
        "@type":"Answer",
        "text":"No, but our guests enjoy reduced rates at nearby contracted garages. To get special pricing, present your ticket from the garage to the front desk for validation."
      }
    }
  ]
}
</script>
