<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Hotel",
    "name": "The Hotel @ Times Square",
    "url": "http://hoteltsq.com/",
    "logo": "https://res.cloudinary.com/traveltripperweb/image/upload/c_fit,h_300,w_300/v1571148205/nlxurvpjbimhl3c8mkds.jpg",
    "image": "https://res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_1920,w_1920/v1569955952/hrwoujvolcp3oq9tr3nx.jpg",
    "description": "The Hotel @ Times Square is a boutique hotel in NYC, close to the Theater District and more. Enjoy one of our offers and a comfortable stay when you book today.",
    "telephone": "917-472-9075",
    "email": "reservations@hotelattimessquare.com",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "59 W 46th St",
        "addressLocality": "New York",
        "addressRegion": "NY",
        "postalCode": "10036",
        "addressCountry": "USA"
    },
    "petsAllowed": "False"
}
</script>
