.c-offer-list {
  @include make-container;
  max-width: 1237px;
  &__wrap {
    @include make-row;
    margin: 0;
  }
  .c-offer {
    @include make-col-ready;
    padding: 0;
    @include media-breakpoint-up(md) {
      @include make-col(6);
      padding-right: 12px;
      padding-left: 12px;
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    &__inner {
      height: 100%;
      background-color: $gray-100;
    }
    &__image {
      height: 230px;
      line-height: 0;
    }
    &__content {
      &__inner {
        width: 100%;
        padding: 20px 20px 160px;
        text-align: center;
        .ttweb-booking-button-offer {
          display: block;
        }
      }
    }

    &__name {
      @extend .h4;
      padding-bottom: 15px;
      a {
        color: $primary;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__short-description {
      padding-bottom: 0;
    }

    .ttweb-offer {
      height: 100%;
    }
    &__select {
      position: absolute;
      right: 0;
      bottom: 20px;
      left: 0;
    }
  }
}

.offer-details {
  .overline {
    margin-bottom: 30px;
  }

  .visual-gallery {
    position: relative;
  }

  .overlay-content {
    @include absolute-position(0,0,0,0,auto,auto);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 15px;
    text-align: center;
    background-color: rgba($black, .5);
    @include media-breakpoint-up(lg) {
      padding: 60px;
      text-align: left;
    }

    &__copy {
      .h4 {
        margin-bottom: 30px;
      }
    }
  }
}

.offer-collage {
  @include make-container;
  max-width: 1320px;

  img {
    width: 100%;
  }
}

.ttweb-booking-button-offer__unavailable-message {
  display: none !important;
}
