---
layout: default
---
<section class="hero inner-hero" style="background-image: url(http://res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1563285850/uay69zehvfnkj6gqrdrh.jpg)">
  <div class="hero__title">
    <h1 class="h1 light">Location</h1>
  </div>
</section>
<section class="container">
  <section class="row p-3 text-center">
    <h2 class="h2 m-auto pb-3">EXPERIENCE QUINTESSENTIAL NYC</h2>
    <p>
      New York City is the most exciting destination in the world. It's got it
      all, amazing food, exuberant art and culture, the trendiest shopping, and
      iconic landmarks. Whether you're looking to explore the city's cultural
      side at MoMA, feast on the ethnic fare in Chinatown, shop Fifth Avenue's
      designer stores, or catch stunning views from the Top of the Rock, it's
      all right outside your door.
    </p>
    <p>
      Ride to the top of the Empire State Building, tour the Statue of Liberty
      and St. Patrick's Cathedral, and make time for stops to Dylan's Candy Bar
      or Serendipity for their "Frozen Hot Chocolate." Walk the High Line for
      magnificent views overlooking the Hudson River, or hit the ice rink at
      Rockefeller Center. If art is your thing, admire the striking works at the
      Guggenheim or Metropolitan Museum of Art, and top it off with an
      award-winning musical on Broadway. Here are some can't miss things to do
      in NYC so you don't miss a beat.
    </p>
  </section>
</section>
>
<section class="loc-map-cta">
  <div class="container-fluid no-padding">
    {% region location-bg %}
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category1">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/chrysler-building-at-new-york-city-th.jpg" alt="Chrysler Building at New York City" title="Chrysler Building at New York City" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Chrysler Building
                </div>
                <div class="things-to-do-long-des">
                  As one of Manhattan's most eye-catching skyscrapers with its
                  triangular shaped windows in its crown, this prominent building
                  in Murray Hill adds to the quintessential New York City skyline.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/Chrysler+Building/@40.7516208,-73.975502,15z/data=!4m5!3m4!1s0x0:0x15e13bea38b43e18!8m2!3d40.7516208!4d-73.975502" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>405
                    Lexington Ave,
                    New York, NY 10174</a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-682-3070" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-682-3070</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="http://www.chryslerbuilding.com/" target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Chrysler Building</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category2">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/new-york-city-central-park-th.jpg" alt="New York City, Central Park" title="New York City, Central Park" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Central Park
                </div>
                <div class="things-to-do-long-des">
                  Spanning 50 blocks up the center of NYC, escape to this urban
                  oasis after a day of traversing the city streets. Designed in
                  1858, CP offers trails, sports fields, concert stage, and
                  endless people watching.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/Central+Park/@40.7828647,-73.9653551,15z/data=!4m5!3m4!1s0x0:0xb9df1f7387a94119!8m2!3d40.7828647!4d-73.9653551" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>New
                    York, New York
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-310-6600" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-310-6600</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="http://www.centralparknyc.org " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Central Park</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category3">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/ellis-island-of-new-york-th.jpg" alt="Ellis Island of New York" title="Ellis Island of New York" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Ellis Island
                </div>
                <div class="things-to-do-long-des">
                  Sail across the Hudson River by ferry to Ellis Island and wave
                  hello to Lady Liberty. Climb to the top of the iconic
                  statue&nbsp;for&nbsp;panoramic view of New York Harbor and shop
                  and tour the museum located on the island.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/Ellis+Island/@40.6986857,-74.0450826,16z/data=!3m1!4b1!4m5!3m4!1s0x89c2509a195f0e0f:0xd2a3469d9222d6eb!8m2!3d40.6994748!4d-74.0395587" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>Ellis
                    Island
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-363-3180" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-363-3180</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://www.libertyellisfoundation.org/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Ellis Island</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category4">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/empire-state-building-in-new-york-th.jpg" alt="Empire State Building in New York" title="Empire State Building in New York" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Empire State Building
                </div>
                <div class="things-to-do-long-des">
                  Arguably the most famous structure in Manhattan, travel up 102
                  floors to the observatory deck offering sweeping views of New
                  York City and beyond, or stay ground-level to dine and shop on
                  the concourse.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/dir/''/empire+state+building+phone/data=!4m5!4m4!1m0!1m2!1m1!1s0x89c259a9b3117469:0xd134e199a405a163?sa=X&amp;ved=0ahUKEwjb1YCMoqbZAhUDurwKHZ0hBlQQ9RcItwYwbw" target="_blank" rel="nofollow"><span
                      class="icon-mapPin ttd-icon"></span>350 5th Ave, New
                    York, NY 10118
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-736-3100" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-736-3100</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="http://www.esbnyc.com/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Empire State Building</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category5">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/grand-central-station-at-new-york-city-th.jpg" alt="Grand Central Station at New York City" title="Grand Central Station at New York City" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Grand Central Station
                </div>
                <div class="things-to-do-long-des">
                  As the nation's biggest transit hub, admire the beautiful
                  Beaux-Arts train terminal's ornately painted ceiling and visit
                  the enormous concourse filled with shops and eateries perfect
                  for on-the-go.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/dir/''/grand+central+station+phone/data=!4m5!4m4!1m0!1m2!1m1!1s0x89c25a21fb011c85:0x37513b7f1821408b?sa=X&amp;ved=0ahUKEwj69buzoqbZAhULv7wKHdjjDC4Q9RcImQYwbw" target="_blank" rel="nofollow"><span
                      class="icon-mapPin ttd-icon"></span>89 E 42nd St, New
                    York, NY 10017
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-340-2583" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-340-2583</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://www.grandcentralterminal.com/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Grand Central Station</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category6">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/new-york-madison-square-garden-th.jpg" alt="New York, Madison Square Garden" title="New York, Madison Square Garden" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Madison Square Garden
                </div>
                <div class="things-to-do-long-des">
                  As Manhattan's premier sports and entertainment complex, MSG is
                  home to the NHL's New York Rangers, the NBA's Knicks, and it
                  also offers the best stage to see your favorite musicians
                  perform in the Big Apple.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/dir/''/madison+square+garden+phone+number/@40.7504833,-74.0634786,12z/data=!3m1!5s0x89c259ae1546fb27:0x93ba42deb43c8368!4m8!4m7!1m0!1m5!1m1!1s0x89c25a21fb011c85:0x33df10e49762f8e4!2m2!1d-73.9934387!2d40.7505045"
                    target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>4 Pennsylvania
                    Plaza, New York, NY 10001
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-465-6741" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-465-6741</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://www.msg.com/madison-square-garden " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Madison Square Garden</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category7">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/rockefeller-center-at-new-york-city-th.jpg" alt="Rockefeller Center at New York City" title="Rockefeller Center at New York City" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Rockefeller Center
                </div>
                <div class="things-to-do-long-des">
                  This Art Deco building offers stunning views at the "Top of the
                  Rock" and boasts an eclectic shopping and dining concourse. In
                  winter months, visit&nbsp;the city's biggest Christmas tree and
                  hit the ice skating rink.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/Rockefeller+Center/@40.7587402,-73.9786736,15z/data=!4m2!3m1!1s0x0:0x33d224a0d5dacca2?sa=X&amp;ved=0ahUKEwiXjc7ao6bZAhWIPo8KHd89C0QQ_BIImAYwbg" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>45
                    Rockefeller
                    Plaza, New York, NY 10111
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-332-6868" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-332-6868</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://www.rockefellercenter.com/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Rockefeller Center</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category8">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/saint-patrick-s-cathedral-new-york-th.jpg" alt="Saint Patrick's Cathedral, New York" title="Saint Patrick's Cathedral, New York" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Saint Patrick's Cathedral
                </div>
                <div class="things-to-do-long-des">
                  Take a peek at the intricate details of this&nbsp;Gothic Revival
                  house of worship that sits amid the hustle and bustle of
                  Rockefeller Center and offers visitors
                  awe-inspiring&nbsp;designs, marble towers and pointed arches.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/St.+Patrick's+Cathedral/@40.7584653,-73.9759927,15z/data=!4m5!3m4!1s0x0:0x88603435e036aa5b!8m2!3d40.7584653!4d-73.9759927" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>5th
                    Ave, New York,
                    NY 10022
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-753-2261" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-753-2261</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="http://www.saintpatrickscathedral.org/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Saint Patrick's Cathedral</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category9">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/united-nations-headquarters-at-new-york-city-th.jpg" alt="United Nations Headquarters at New York City" title="United Nations Headquarters at New York City" width="554"
            height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  United Nations Headquarters
                </div>
                <div class="things-to-do-long-des">
                  See the world-famous diplomatic collective in action and tour
                  the historic location where world-leaders convene to discuss
                  global issues, solve problems, and develop international peace
                  and security.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/United+Nations+Headquarters/@40.7488758,-73.9680091,15z/data=!4m2!3m1!1s0x0:0xc5fae28bdd3df635?sa=X&amp;ved=0ahUKEwjdioe8pKbZAhXJKo8KHaYTAL8Q_BIIhgYwbg" target="_blank" rel="nofollow"><span
                      class="icon-mapPin ttd-icon"></span>405 East 42nd
                    Street, New York, NY, 10017
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-963-4475" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-963-4475</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://visit.un.org/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">United Nations Headquarters</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category10">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/union-square-at-new-york-th.jpg" alt="Union Square in New York" title="Union Square in New York" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Union Square
                </div>
                <div class="things-to-do-long-des">
                  Located at the union of&nbsp;Broadway and Fourth Avenue, this
                  geometric grassy patch of land welcomes visitors daily to
                  congregate and frolic to escape the city grind. It's also home
                  to&nbsp;Greenmarket&nbsp;on Saturdays.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/Union+Square,+New+York,+NY+10003/data=!4m2!3m1!1s0x89c259989e14aa8b:0xcd00afc9db20caa4?sa=X&amp;ved=0ahUKEwjKi4qXpabZAhVny1QKHfQtAt8Q8gEImgYwcg" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>14th-17th
                    Street,
                    (Broadway and Park), New York City, NY 10001
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-460-1200" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-460-1200</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://www.unionsquarenyc.org/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Union Square</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category11">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/911-memorial-and-museum-at-new-york-th.jpg" alt="9/11 Memorial and Museum at New York" title="9/11 Memorial and Museum at New York" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  9/11 MEMORIAL AND MUSEUM
                </div>
                <div class="things-to-do-long-des">
                  Visit&nbsp;North America's largest man-made waterfalls, twin
                  reflecting pools, and&nbsp;museum built as a place to pay
                  respects to those that lost their lives and as a solemn reminder
                  of the tragic attacks that occurred on 9/11.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/9%2F11+Memorial/@40.7114836,-74.0127254,15z/data=!4m5!3m4!1s0x0:0xf430ccc5401d1eed!8m2!3d40.7114836!4d-74.0127254" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>180
                    Greenwich St,
                    New York, NY 10007
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-312-8800" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-312-8800</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://www.wtc.com/memorial " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">9/11 MEMORIAL AND MUSEUM</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category12">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/the-high-line-of-new-york-city-th.jpg" alt="The High Line of New York City" title="The High Line of New York City" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  The High Line
                </div>
                <div class="things-to-do-long-des">
                  Once a railroad track, NYC's elevated park and walking
                  playground is covered in grass and wildflowers. Walk this urban
                  park and promenade that spans 1.5 miles from Hudson Yards to
                  northern Chelsea.&nbsp;
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/The+High+Line/@40.7479925,-74.0047649,15z/data=!4m2!3m1!1s0x0:0x583f615c850a3c91?sa=X&amp;ved=0ahUKEwj2-PHhp6bZAhVGG5QKHUGyAxMQ_BIIsQYwcg" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>New
                    York City, NY
                    10014
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:212-500-6035" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">212-500-6035</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="http://www.thehighline.org/ " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">The High Line</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-lg-6">
      <div id="things-to-do-category13">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/columbus-circle-at-new-york-city-th.jpg" alt="Columbus Circle at New York City" title="Columbus Circle at New York City" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  Columbus Circle
                </div>
                <div class="things-to-do-long-des">
                  Located at the SW corner of Central Park, this roundabout is
                  home to many high-end shops and restaurants, the Time Warner
                  Building, and marked by the 76-foot monument at its
                  epicenter.&nbsp;
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/Columbus+Cir,+New+York,+NY/data=!4m2!3m1!1s0x89c258f63c9804b5:0xacca5e3d4112d7eb?sa=X&amp;ved=0ahUKEwiN1PmRqKbZAhUJspQKHTd6B1wQ8gEIKDAA" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>Columbus
                    Cir, New
                    York, NY
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:" target="_blank" rel="nofollow" style="display: none;"><span class="icon-phone ttd-icon"></span><span class="phone_no"></span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="http://www.theshopsatcolumbuscircle.com/" target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">Columbus Circle</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    <div class="things-to-do-category-section col-md-6">
      <div id="things-to-do-category14">
        <div class="things-to-do-cat-img">
          <img src="https://www.applecorehotels.com/resourcefiles/attraction-snippets/public-library-of-new-york-th.jpg" alt="Public Library of New York" title="Public Library of New York" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  New York Public Library
                </div>
                <div class="things-to-do-long-des">
                  Adjacent to Bryant Park, step inside of this NYC landmark that
                  houses 25,000 books and bindings, a handwritten copy of the
                  Declaration of Independence, and a rotating series of art and
                  science exhibits.
                </div>
                <div class="things-to-do-address">
                  <a href="https://www.google.com/maps/place/New+York+Public+Library+-+Stephen+A.+Schwarzman+Building/@40.7531823,-73.9822534,15z/data=!4m2!3m1!1s0x0:0x3b51df6e509a734c?sa=X&amp;ved=0ahUKEwjijObpqKbZAhWBSpQKHafhCzAQ_BIImwYwcg" target="_blank"
                    rel="nofollow"><span class="icon-mapPin ttd-icon"></span>476 5th ave new
                    york ny 10018
                  </a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:917-275-6975" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">917-275-6975</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="https://www.nypl.org/locations/schwarzman " target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">New York Public Library</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map-holder">
  <div class="map-inner" id="map"></div>
</section>
