---
layout: inner_page
---

<section class="container">
  <div class="row p-3 text-center">
    <div class="text-center m-auto">
      {% regionblock intro_header, type:header %}
      <h2 class="h2 pb-3" tabindex="0">EXPERIENCE QUINTESSENTIAL NYC</h2>
      {% endregionblock %}
    </div>
    <div tabindex="0">
      {% regionblock intro_text, type:text %}
        <p>
          New York City is the most exciting destination in the world. It's got it
          all, amazing food, exuberant art and culture, the trendiest shopping, and
          iconic landmarks. Whether you're looking to explore the city's cultural
          side at MoMA, feast on the ethnic fare in Chinatown, shop Fifth Avenue's
          designer stores, or catch stunning views from the Top of the Rock, it's
          all right outside your door.
        </p>
        <p>
          Ride to the top of the Empire State Building, tour the Statue of Liberty
          and St. Patrick's Cathedral, and make time for stops to Dylan's Candy Bar
          or Serendipity for their "Frozen Hot Chocolate." Walk the High Line for
          magnificent views overlooking the Hudson River, or hit the ice rink at
          Rockefeller Center. If art is your thing, admire the striking works at the
          Guggenheim or Metropolitan Museum of Art, and top it off with an
          award-winning musical on Broadway. Here are some can't miss things to do
          in NYC so you don't miss a beat.
        </p>
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="loc-map-cta" tabindex="-1">
  <div class="container-fluid no-padding">
    {% region location-bg %}
  </div>
</section>

{% if site.data._models.attractions %}
  {% assign attractions = site.data._models.attractions | sort:"order" %}
<section class="container">
  <div class="row">
    {% for attraction in attractions %}
    <div class="things-to-do-category-section col-lg-6">
      <div class="things-to-do-category">
        <div class="things-to-do-cat-img" tabindex="0">
          <img src="{{ attraction.image.url_large }}" alt="{{ attraction.image.alt }}" title="{{ attraction.image.alt }}" width="554" height="391" />
          <div class="ttd-top-section">
            <div class="ttd-desc-inner">
              <div class="ttd-desc-inner-inner">
                <div class="things-to-do-title things-to-do-title-onhover">
                  {{ attraction.name }}
                </div>
                <div class="things-to-do-long-des" tabindex="0">
                  {{ attraction.description }}
                </div>
                <div class="things-to-do-address">
                  <a href="{{ attraction.directions_link }}" target="_blank" rel="nofollow"><span class="icon-mapPin ttd-icon"></span>
                    {{ attraction.address }}</a>
                </div>
                <div class="things-to-do-phone">
                  <a href="tel:{{ attraction.phone }}" target="_blank" rel="nofollow"><span class="icon-phone ttd-icon"></span><span class="phone_no">{{ attraction.phone }}</span></a>
                </div>
                <div class="things-to-do-weblink">
                  <a href="{{ attraction.website_link }}" target="_blank" rel="nofollow"><span class="icon-laptop ttd-icon"></span>Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="things-to-do-content-sec">
          <div class="things-to-do-title">{{ attraction.name }}</div>
          <div class="things-to-do-short-des"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

<section class="map-holder">
  <div class="map-inner" id="map"></div>
</section>
