---
layout: default
---

{% assign offer = page.data %}
<!-- {% include components/offer %} -->
{% if site.data._models.offers.length > 0 %}
{% assign item = site.data._models.offers | sort: 'order'  %}
{% for p in item %}
  {% if p.url_friendly_name == offer.url_friendly_name %}
    {% assign pInd = forloop.index0 | minus: 1 %}
    {% assign nInd = forloop.index0 | plus: 1 %}
    {% if forloop.first != true %}
      {% assign prevItemTitle = item[pInd].title %}
      {% assign prevItemUrl = item[pInd].url_friendly_name %}
    {% endif %}
    {% if forloop.last != true %}
      {% assign nextItemTitle = item[nInd].title %}
      {% assign nextItemUrl = item[nInd].url_friendly_name %}
    {% endif %}
  {% endif %}
{% endfor %}
{% endif %}

<section class="hero inner-hero" style="background-image:url('//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1561363171/d1twu8kq8priphv0yg54.jpg');">
  <div class="hero__body">
    <h1 class="h1 light" tabindex="0">{{ offer.name }}</h1>
    <a class="btn btn--secondary" href="{{ offer.book_now }}" target="_blank">Book Now</a>
  </div>
</section>

<div class="room-nav mt-3 text-center">
  {%if prevItemUrl %}
    <a href="/offers/{{ prevItemUrl }}/" title="Previous Offer">Previous Offer
    </a>
    {%else%}
    <a class="not-active" href="#" title="Previous Offer">Previous Offer
    </a>
    {%endif%}
    <span>{{ offer.name }}</span>
    {%if nextItemUrl %}
      <a href="/offers/{{ nextItemUrl }}/" title="Next Offer">Next Offer</a>
      {%else%}
      <a class="not-active" href="#" title="Next Offer">Next Offer</a>
      {%endif%}
    </div>

    <section class="rooms-carousel offer-detail-carousel mt-2">
      <div class="rooms-carousel__content">
        <div class="rooms-carousel__image">
          {% include components/image image=offer.image max_width=1600 %}
        </div>
        <div class="rooms-carousel__info transparent">
          <p class="overline">Special Offer</p>
          <h2 class="h4 dark" tabindex="0">{{ offer.name }}</h2>
          <a class="btn btn--secondary" href="{{ offer.book_now }}" target="_blank">Book this offer</a>
        </div>
      </div>
    </section>
