{% assign form_id = "92333141758457" %}
<form class="contact__wrap" action="https://submit.jotform.me/submit/{{form_id}}/" method="post" name="form_{{form_id}}"
    id="{{form_id}}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{form_id}}">
    <div class="row">
      <div class="col-md-6">
        <input class="form-control custom-input md-mb-3" type="text" id="input_3" name="q1_firstName"  placeholder="First Name *" aria-label="Enter first name" required>
      </div>
      <div class="col-md-6">
        <input class="form-control custom-input" type="text" id="input_4" name="q11_lastName" placeholder="Last Name *" aria-label="Enter last name" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input class="form-control custom-input" type="text" id="input_5" name="q13_company" placeholder="Company" aria-label="Company">
      </div>
      <div class="col-md-6">
        <input class="form-control custom-input" type="text" id="input_6" name="q14_street" placeholder="Street" aria-label="Street" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input class="form-control custom-input" type="text" id="input_5" name="q15_city" placeholder="City *" aria-label="City" required>
      </div>
      <div class="col-md-6">
        <input class="form-control custom-input" type="text" id="input_6" name="q16_zipCode" placeholder="Zip code *" aria-label="Street" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input class="form-control custom-input" type="email" id="input_5" name="q20_email20" placeholder="Email *" aria-label="Email" required>
      </div>
      <div class="col-md-6">
        <input class="form-control custom-input" type="number" id="input_6" name="q17_phone" placeholder="Phone *" aria-label="Phone" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input class="form-control custom-input" type="text" id="input_5" name="q21_numberOf" placeholder="Number of room" aria-label="Number of room">
      </div>
      <div class="col-md-6">
        <input class="form-control custom-input" type="text" id="input_6" name="q18_typeOf" placeholder="Type of Event" aria-label="Type of Event">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control custom-input" id="input_8" name="q9_briefDescription" placeholder="Brief Description *" aria-label="Brief Description" required></textarea>
      </div>
    </div>
    <div class="form-check mb-4">
      <input class="form-check-input" type="checkbox" id="input_12_0" name="q12_iAgree[]" value="agree" aria-label="Press spacebar to if you agree with Terms of Service & Privacy Policy" required>
      <label class="form-check-label small" for="input_14_0">
        I agree with  <a href="/terms/"> Terms of Service</a> &  <a href="/privacy-policy/">Privacy Policy</a>
      </label>
    </div>
    <button class="btn btn btn--secondary" type="submit" id="input_2">Submit</button>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{form_id}}">
    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{form_id}}";
    </script>
</form>

<script type="text/javascript">JotForm.ownerView=true;</script>
